In [1]:
import pandas as pd

In [2]:
media_tweets = pd.read_csv('processed twitter data/media_results.csv')
creator_tweets = pd.read_csv('processed twitter data/creator_results.csv')

In [3]:
media_tweets

,Tweet,Processed
0,Metaverse launches have been frequent in the l...,launches frequent brands including gucci adida...
1,Metaverse launches have been frequent in the l...,launches frequent brands like launching accord...
2,Positioned as a physical metaverse influencer ...,positioned physical influencer creator hub 1 2...
3,"Marketers discussed ways into the metaverse, a...",marketers discussed ways among topics digiday ...
4,Positioned as a physical metaverse influencer ...,positioned physical influencer creator hub 1 2...
...,...,...
1034,Poly Auction Hong Kong is joining hands with d...,poly auction hong kong joining hands digital a...
1035,The Hong Kong director celebrates the 30th ann...,hong kong director celebrates 30th anniversary...
1036,Poly Auction Hong Kong is joining hands with d...,poly auction hong kong joining hands digital a...
1037,The Hong Kong director celebrates the 30th ann...,hong kong director celebrates 30th anniversary...
1038,"Luxury luggage brand, Rimowa, on their first-e...",luxury luggage brand rimowa ever collection de...

In [4]:
all_df = pd.concat([media_tweets,creator_tweets],ignore_index = True)

In [5]:
all_df

,Tweet,Processed
0,Metaverse launches have been frequent in the l...,launches frequent brands including gucci adida...
1,Metaverse launches have been frequent in the l...,launches frequent brands like launching accord...
2,Positioned as a physical metaverse influencer ...,positioned physical influencer creator hub 1 2...
3,"Marketers discussed ways into the metaverse, a...",marketers discussed ways among topics digiday ...
4,Positioned as a physical metaverse influencer ...,positioned physical influencer creator hub 1 2...
...,...,...
4383,@AB_solo You can try again tomorrow… or the ne...,try tomorrow next drops continue 12 24
4384,@KaddouraHoussam The made-to-order Rogue bag i...,made order rogue bag available us owners
4385,@Thatjpeg_ Our first NFT will be available at ...,available 12 p est get ready
4386,@uuuulllii We’re offering a limited quantity o...,offering limited quantity followers free dec 1...
4387,✨ Why we’re entering the NFT space: to mark th...,entering space mark end 80th anniversary speci...

In [7]:
all_labelled = pd.read_csv('Twitter LDA CSV/topics_labelled_all.csv')

In [8]:
all_labelled

,Document_No,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text
0,0,0.0,0.3754,"drop, fashion, love, world, big, new, time, be...",launches frequent brands including gucci adida...
1,1,0.0,0.3928,"drop, fashion, love, world, big, new, time, be...",launches frequent brands like launching accord...
2,2,3.0,0.3671,"collection, physical, digitalax, sell, owner, ...",positioned physical influencer creator hub 1 2...
3,3,3.0,0.3252,"collection, physical, digitalax, sell, owner, ...",marketers discussed ways among topics digiday ...
4,4,3.0,0.3499,"collection, physical, digitalax, sell, owner, ...",positioned physical influencer creator hub 1 2...
...,...,...,...,...,...
4377,4377,0.0,0.3180,"drop, fashion, love, world, big, new, time, be...",NaN
4378,4378,2.0,0.3340,"jewelry, art, make, future, think, community, ...",NaN
4379,4379,1.0,0.3005,"piece, digital, available, want, custom, colle...",NaN
4380,4380,1.0,0.3707,"piece, digital, available, want, custom, colle...",NaN
4381,4381,3.0,0.4619,"collection, physical, digitalax, sell, owner, ...",NaN

In [9]:
all_labelled.isna().sum()

Document_No              0
Dominant_Topic           0
Topic_Perc_Contrib       0
Keywords                 0
Text                  3285
dtype: int64